target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.metadata
.recommenders
.tern-project
.tmp

bin/
.settings/

.~lock.Aulas.ods#
.~lock.Controle  v6.2.ods#

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/

nbbuild/
dist/
nbdist/
.nb-gradle/
.metadata/


/build/
/deploy/
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
*~
*.swp
angular.js.tmproj
node_modules/
angular.xcodeproj
.idea
*.iml
.agignore
.lvimrc
libpeerconnection.log
npm-debug.log
/tmp/
.vscode
*.log
*.stackdump
