<h2 ng-show="plano._id!=null">Edit</h2>
<h2 ng-hide="plano._id!=null">Create</h2>
<hr>
<form name="planoForm" ng-submit="saveData(plano)" novalidate class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2">Descrição</label>
        <div class="col-md-10">
            <input type="text" ng-model="plano.descricao" name="descricao" ng-required="true" class="form-control" />
            <p ng-show="planoForm.descricao.$error.required && (planoForm.$submitted || planoForm.descricao.$dirty)"
                class="text-danger">Informe a descrição</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Vigência Inicial</label>
        <div class="col-md-10">
            <input type="text" name="vigenciaInicial" ng-model="plano.vigenciaInicial" ng-required="true" class="form-control"></input>
            <p ng-show="planoForm.vigenciaInicial.$error.required && (planoForm.$submitted || planoForm.vigenciaInicial.$dirty)"
                class="text-danger">Informe a vigência inicial</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Vigência Final</label>
        <div class="col-md-10">
            <input type="text" ng-model="plano.vigenciaFinal" name="vigenciaFinal" ng-required="true" class="form-control" />
            <p ng-show="planoForm.vigenciaFinal.$error.required && (planoForm.$submitted || planoForm.vigenciaFinal.$dirty)"
                class="text-danger">Informe a vigência final</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Valor Parcela</label>
        <div class="col-md-10">
            <input type="text" ng-model="plano.valorParcela" name="valorParcela" ng-required="true" class="form-control" />
            <p ng-show="planoForm.valorParcela.$error.required && (planoForm.$submitted || planoForm.valorParcela.$dirty)"
                class="text-danger">Informe o valor da parcela</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Desconto</label>
        <div class="col-md-10">
            <input type="text" ng-model="plano.desconto" name="desconto" ng-required="true" class="form-control" />
            <p ng-show="planoForm.desconto.$error.required && (planoForm.$submitted || planoForm.desconto.$dirty)"
                class="text-danger">Informe o desconto</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Atualizar" class="btn btn-primary" ng-show="plano._id!=null" />
            <input type="submit" value="Incluir" class="btn btn-primary" ng-hide="plano._id!=null" />
            <a ui-sref="planos" class="btn btn-warning">Cancelar</a>
        </div>
    </div>
</form>